.case,
.energy {
	background-color: var(--bg-color-case);
	padding: 80px 0 0;
	text-align: center;
}

.energy {
	padding: 0 0 100px;
}

.case__text {
	max-width: 825px;
	margin: 0 auto 40px;
}

.energy__title {
	padding-top: 160px;
	margin-bottom: 40px;
}

.energy__num {
	font-size: 210px;
	font-weight: 700;
	margin-bottom: 40px;
}

.energy__text {
	max-width: 400px;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.case {
		padding: 60px 0;
	}

	.energy__title {
		padding-top: 60px;
		margin-bottom: 20px;
	}

	.energy__num {
		font-size: 110px;
		margin-bottom: 20px;
	}

	.energy__text {
		font-size: 14px;
	}
}

@media (max-width: 560px) {
	.case {
		padding: 40px 0;
	}
}

@media (max-width: 414px) {
	.case img {
		max-width: 100%;
	}
	.energy__num {
		font-size: 92px;
	}
}
