.colors {
	padding: 45px 0 180px;
	text-align: center;
}

.colors__title {
	font-size: 36px;
	font-weight: 700;

	max-width: 555px;
	margin: 0 auto 20px;
}

.colors__subtitle {
	max-width: 555px;
	font-size: 16px;
	font-weight: 500;
	margin: 0 auto 80px;
}

.colors__list {
	gap: 40px;
}

.colors__list--btn {
	padding: 50px 55px;
	border-radius: 20px;
	border: 1px solid#777;
}

.colors__list--btn.colors__list--btn--active {
	display: none;
}

@media (max-width: 1200px) {
	.colors__list {
		flex-wrap: wrap;
	}
}

@media (max-width: 768px) {
	.colors {
		padding-bottom: 60px;
	}

	.colors__subtitle {
		margin-bottom: 40px;
	}
}

@media (max-width: 560px) {
	.colors {
		margin-bottom: 0;
	}

	.colors__list {
		gap: 15px;
	}

	.colors__list--btn {
		padding: 35px;
	}
}

@media (max-width: 414px) {
	.colors__title {
		font-size: 28px;
	}
}
