.composition {
	margin-bottom: 188px;
}

.composition__title {
	text-align: center;
}

.composition__text {
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	max-width: 655px;
	margin: 0 auto 40px;
}

.composition__inner {
	max-width: 625px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.composition__inner--img {
	display: none;
}

.composition__inner--img.composition__inner--img--active {
	display: inline-block;
}

.composition__inner--text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.composition__inner--text p {
	width: 230px;
	font-size: 16px;
	font-weight: 500;
}

@media (max-width: 768px) {
	.composition {
		margin-bottom: 60px;
	}

	.composition__inner--text {
		justify-content: space-around;
	}
}

@media (max-width: 560px) {
	.composition__inner {
		align-items: center;
		justify-content: center;
		gap: 20px;
		flex-wrap: wrap;
	}
	.composition__inner--text {
		gap: 20px;
		text-align: center;
	}
	.composition__inner--text p {
		width: 100%;
	}
}
