.footer {
	position: relative;

	padding: 50px 0 40px;
	background-color: #000;
	color: #fff;
	text-align: center;

	font-size: 16px;
	font-weight: 700;
}

.footer__text {
	padding: 20px 0;
}

.footer__list {
	padding-top: 80px;
	gap: 0 20px;
}
