.footer {
	position: relative;

	padding: 50px 0 40px;
	background-color: #000;
	color: #fff;
	text-align: center;

	font-size: 16px;
	font-weight: 700;
}

.footer__text {
	padding: 20px 0;
}

.footer__list {
	padding-top: 80px;
	gap: 20px;
}

@media (max-width: 768px) {
	.footer__list {
		flex-wrap: wrap;
	}
}

@media (max-width: 414px) {
	.footer {
		font-size: 12px;
	}

	.footer__list {
		padding-top: 30px;
	}
}
