.hero {
	flex-direction: column;
	background: var(--blue-bg-gradient);
}

.hero__content {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;

	padding-top: 126px;
}

.hero__image {
	display: none;
}

.hero__image.hero__image--active {
	display: inline-block;
}

.hero__title {
	position: absolute;
	display: flex;
	left: 0;
	padding-top: 105px;

	color: #000;

	font-size: 210px;
	font-weight: 700;
	line-height: 120%;
}

.title--air {
	z-index: 2;
}

.title--pod {
	position: relative;
	z-index: 0;
}

.title--s {
	display: inline-block;
	transform: translateY(60px);
	z-index: 2;
}

.title--m {
	display: inline-block;
	transform: translate(-57px, 290px);
	z-index: 3;
}

.title--ah {
	display: inline-block;
	z-index: 0;
	transform: translate(-128px, 412px);
}

.hero__content-images {
	z-index: 1;
}

@media (max-width: 1469px) {
	.hero__title {
		font-size: 190px;
	}

	.hero__content-images img {
		max-width: 100%;
	}

	.hero__title {
		font-size: 180px;
		transform: translate(129px, 29px);
	}
}

@media (max-width: 1349px) {
	.hero__content {
		align-items: center;
	}
	.hero__title {
		font-size: 140px;
		padding-top: 20vh;
		left: 0;
		right: 0;
		text-align: center;
	}
	.title--pod {
		z-index: 1;
	}
	.title--s {
		transform: none;
	}

	.title--m {
		transform: none;
	}

	.title--ah {
		transform: none;
	}
}

@media (max-width: 930px) {
	.hero__title {
		transform: none;
		position: relative;
		font-size: 100px;
		padding-top: 0;
	}
	.title--m {
		padding-left: 15px;
	}
}

@media (max-width: 768px) {
	.hero__title {
		font-size: 58px;
	}
}

@media (max-width: 404px) {
	.hero__title {
		font-size: 50px;
	}
}
