.hero {
	flex-direction: column;
	background: var(--blue-bg-gradient);
}

.hero__content {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}

.hero__title {
	position: absolute;
	display: flex;
	left: 0;
	padding-top: 105px;

	color: #000;

	font-size: 210px;
	font-weight: 700;
	line-height: 120%;
}

.title--air {
	z-index: 2;
}

.title--pod {
	position: relative;
	z-index: 0;
}

.title--s {
	display: inline-block;
	transform: translateY(60px);
	z-index: 2;
}

.title--m {
	display: inline-block;
	transform: translate(-57px, 290px);
	z-index: 3;
}

.title--ah {
	display: inline-block;
	z-index: 0;
	transform: translate(-128px, 412px);
}

.hero__content-images {
	z-index: 1;
}
